/* Carousel Cards */

.carousel-inner {
    padding: 1em;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (min-width: 768px) {
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
    }
    .carousel-inner {
      display: flex;
    }
  }
  .card .img-wrapper {
      max-width: 100%;
      height: 13em;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .card img {
      max-height: 100%;
  }
  @media (max-width: 767px) {
    .card .img-wrapper {
      height: 17em;
    }
  }


 /* testing */
/* body{
    background-color: wheat;
} */

#logo{
  width: 50px;
  height: 50px;
}
#logo-nav:hover{
  color: rgb(82, 184, 82);

}
#quote{
  font-style: italic;
}
#quote:hover{
  /* background-color: yellow; */
  color: rgb(82, 184, 82);
}

img{
width: 75px;
height: 200px;
}

#img-cont{
  width: 500px;
  height: 500px;
}
#search:hover{
  border-color: rgb(82, 184, 82);
}
#search{
  background: rgba(255, 255, 255, 0.89);
}

#search-bg {
  background-image: url("https://dthezntil550i.cloudfront.net/35/latest/352004301524500520000622515/1280_960/8e924821-1152-4bf6-80ed-14f2ccff7a3d.png"); 
  display: flex;
  width: auto;
  height: 300px;
  background-repeat: no-repeat;
  background-size: 1200px 400px; /* this control the pic dimentions need bigger pic */
 
}


#test-h:hover{
  transform: scale(1.5);
  color: rgb(82, 184, 82);
}

#more-info:hover{
  color: rgb(82, 184, 82);
}

/* footer */

footer{

  background: #fff;
  height: auto;
  width: 100vw;
  font-family: 'Open Sans';
  padding-top: 40px;
  color: rgb(31, 27, 27);
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}

.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: rgb(31, 27, 27);
}

.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;
}
.socials a:hover i{
  color: rgb(82, 184, 82);
  transform: scale(1.9);
}

.footer-bottom{
  background-color:#fff;
  width: 100vw;
  padding: 10px 0;
  text-align: center;
}

.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;

}
.footer-bottom span{
  color: rgb(167, 167, 161);
  /* text-transform: uppercase; */
  /* opacity: .4; */
  font-weight: 200;
}

#foot-t:hover{
  color: rgb(82, 184, 82);

}

/* hover */
.text:hover{
  color: rgb(82, 184, 82);
}

.card-body:hover{
  color: rgb(82, 184, 82);
}



/* about us */

#about-us{
width: 300px;
height: 300px;
}


/* google map */

#map{
 /* background-image: linear-gradient(rgb(179, 240, 151), rgb(138, 206, 74), rgb(128, 228, 128)); */
 background-color: rgb(227, 252, 210);
}




